{$DOMAIN:localhost} {
  handle /file/* {
    reverse_proxy api:3000
  }
  handle /upload* {
    reverse_proxy api:3000
  }
  handle /auth/* {
    reverse_proxy api:3000
  }
  handle /sharex/* {
    reverse_proxy api:3000
  }
  handle /admin/* {
    reverse_proxy api:3000
  }
  reverse_proxy web:3000
}
